<header class="w-full py-16 px-12 flex flex-col items-start justify-center bg-secondary rounded-2xl gap-4">
    <h3 class="text-4xl font-mono font-bold">Hi there!</h3>
    <p class="text-sm font-mono font-medium">
        My name's 
        <span class="italic text-blue-500">
            Juan Zuniga
        </span>
        an 
        <span class="italic text-blue-500">
            Software Enginnering Student
        </span>
        from Santa Marta - Colombia.
    </p>
    <p class="text-sm font-mono font-medium">
        I'm a passionate about technology and software development, I'm always looking for new challenges and opportunities to learn and grow.
    </p>
</header>
