---
import IDEButton from "../components/IDEButton.astro";
import Code from "../components/Code.astro"
import code from "../data/code"
const colors = ["bg-indigo-400", "bg-sky-400", "bg-rose-400"]
---
<article class="p-5 w-full h-fit">
    <div class="w-full h-full flex flex-col items-center border-[1px] bg-primary border-tertiary rounded-xl text-sm p-4 gap-4">
        <div class="w-full h-6 py-3 pl-1 pr-5 flex items-center justify-between font-mono">
            <span class="text-white capitalize">
                {code.title.replaceAll(" ","")}
                <span class="text-sky-400 -ml-2 lowercase">.cs</span>
            </span>
            <ul class="flex items-center gap-1">
                {colors.map((color) => <IDEButton className={color}/>)}
            </ul>
        </div>
        <Code lines={code.lines}/>
    </div>
</article>