---
import { Image } from "astro:assets";
import wall from "../../home/assets/images/wall.png";
---

<div class="w-full rounded-2xl relative">
  <section
    id="section"
    class="w-full min-h-full h-fit rounded-xl transition-all duration-500 bg-secondary"
  >
    <Image
      id="image"
      src={wall}
      alt="Wallpaper"
      width={1920}
      height={1080}
      class="w-full rounded-t-2xl"
		/>
		<slot/>
  </section>
</div>
