---
import Header from "./sections/Header.astro";
import Section from "./sections/Section.astro";
import IDE from "./sections/IDE.astro";
import AboutProject from "./sections/AboutProject.astro";
---
<Header/>
<Section>
    <IDE title="Presentation"/>
    <AboutProject/>
</Section>